{% extends "base.html" %}

{% block content %}

<!-- services -->
<section class="container section" id="photos">
  <div class="row">
    <div class="col s12 l4">
      <img src="{{ SITEURL }}/theme/images/drawing.jpg" alt="" class="responsive-img">
    </div>
    <div class="col s12 l8">
      <h2 class="white-text text-darken-4">Drawings</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, voluptas reiciendis quibusdam eos, minus aspernatur non totam
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l4">
      <img src="{{ SITEURL }}/theme/images/analysis.jpg" alt="" class="responsive-img">
    </div>
    <div class="col s12 l8">
      <h2 class="white-text text-darken-4">Analysis</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, voluptas reiciendis quibusdam eos, minus aspernatur non totam
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l4">
      <img src="{{ SITEURL }}/theme/images/programming.jpg" alt="" class="responsive-img">
    </div>
    <div class="col s12 l8">
      <h2 class="white-text text-darken-4">Programming</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, voluptas reiciendis quibusdam eos, minus aspernatur non totam
      </p>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col l4" style="background-color: red; height: 200px;"></div>
    <div class="col l4" style="background-color: black; height: 200px;"></div>
    <div class="col l4" style="background-color: pink; height: 200px;"></div>
  </div> -->
</section>

<!-- Article -->





<!-- services -->

<!-- parallax -->

<!-- contact form -->

<!-- footer -->


{% endblock %}
